* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

/* Experience */

#experience {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#experience-canvas {
    width: 100%;
    height: 100%;
}

/* Utilities */

.hidden {
    display: none;
}

/* Modal */

.modal {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    background-color: #ad8671;
    border: 2px solid #fff;
    color: #fff;
}

.modal-wrapper {
    padding: 12px;
}

.modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}